.header {
  padding: 3rem 1.5rem 0 1.5rem;
  background-color: $color-primary-grey;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;

  .header__icon-row {
    color: #969696;
    display: flex;
    justify-content: space-between;
  }

  .header__text-row {
    color: white;
    margin-top: 2rem;
    padding-bottom: 1.5rem;
  }
}
