$color-primary: #55c57a;
$color-primary-grey: #313131;
$color-primary-dark: #2b2b2b;
$color-primary-black: #1c1c1c;

$color-grey-dark: #777;
$color-grey-ligth: #eee;
$color-white: #fff;
$color-black: #000;
$color-violet: #654ea3;
$color-violet-light: #eaafc8;
