@keyframes scaleIn {
  from {
    transform: scale(0.5, 0.5);
    opacity: 0.5; }
  to {
    transform: scale(1.5, 1.5);
    opacity: 0; } }

html {
  box-sizing: border-box;
  font-size: 50%;
  height: 100vh;
  overflow: hidden;
  background-color: #1c1c1c; }
  @media (min-width: 600px) {
    html {
      font-size: 50%; } }

*,
*:not(img),
*::before,
*::after {
  box-sizing: inherit;
  margin: 0; }

.App {
  height: 100%; }

* {
  font-family: "Comfortaa", cursive; }

.pic-row__pic-text-box--text {
  font-size: 2.7rem; }

.header {
  font-weight: 500;
  font-size: 2.6rem; }
  .header .header__icon-row {
    font-size: 2.2rem; }

.header {
  padding: 3rem 1.5rem 0 1.5rem;
  background-color: #313131;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem; }
  .header .header__icon-row {
    color: #969696;
    display: flex;
    justify-content: space-between; }
  .header .header__text-row {
    color: white;
    margin-top: 2rem;
    padding-bottom: 1.5rem; }

.underline-btn-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem; }
  .underline-btn-wrap .underline-btn-wrap__btn {
    text-transform: uppercase;
    margin: 2rem;
    font-size: 2rem;
    width: 16rem;
    background-image: linear-gradient(to bottom, rgba(101, 78, 163, 0.2), rgba(234, 175, 200, 0.2));
    background-repeat: no-repeat;
    background-size: 16rem 0.2em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
    color: white; }
    .underline-btn-wrap .underline-btn-wrap__btn:hover {
      background-size: 100% 88%; }
    .underline-btn-wrap .underline-btn-wrap__btn:focus {
      background-size: 100% 88%; }

.container {
  width: 600px;
  height: 400px;
  display: flex;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(50%);
  overflow: hidden;
  align-items: center;
  justify-content: center; }
  .container .still-circle {
    z-index: 100;
    padding: 5px;
    border-radius: 50%;
    background-color: #654ea3;
    width: 20px;
    height: 20px; }
  .container .circle {
    opacity: 0;
    border-radius: 50%;
    background-color: #eaafc8;
    width: 150px;
    height: 150px;
    position: absolute;
    animation: scaleIn 4s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32); }

.pic-row {
  height: 12rem;
  margin: 2rem 1rem 2rem 1rem;
  background-image: linear-gradient(to bottom, rgba(101, 78, 163, 0.5), rgba(234, 175, 200, 0.5));
  box-shadow: -5px -28px 49px -104px #dedede;
  border-radius: 1rem;
  padding: 2rem; }
  .pic-row .pic-row__pic-text-box {
    display: flex;
    align-items: center; }
    .pic-row .pic-row__pic-text-box .pic-row__pic-text-box--text {
      margin-left: 2rem; }

.pic-row__pic-text-box--pic {
  border-radius: 50%;
  width: 12rem; }
  .pic-row__pic-text-box--pic:after {
    box-shadow: inset 0 0 40px 16px; }

.infinite-list {
  overflow-y: scroll;
  height: 90vh;
  background-color: #1c1c1c; }
